<lf-section-layout
  (sectionPosition)="emitSectionPosition($event)"
  (goToNextSection)="emitGoToNextSection($event)"
  (goToPreviousSection)="emitGoToPreviousSection($event)"
  [isFirstSection]="isFirstSection"
  [isLastSection]="isLastSection"
  [background]="background"
  [title]="title"
  [subtitle]="subtitle"
  [placeInOrder]="placeInOrder">
  <div
    class="lf-about-me-container"
    ngClass.lt-md="lf-about-me-container-lt-md"
    ngClass.gt-sm="lf-about-me-container-gt-sm"
  >
    <div
      class="lf-about-me-subsection-container"
      ngClass.lt-md="lf-about-me-subsection-container-lt-md"
      ngClass.gt-sm="lf-about-me-subsection-container-gt-sm"
      fxLayout="column">
      <lf-subsection
        *ngFor="let subsection of subsections"
        fxFlex="1 1 auto"
        [title]="subsection.title"
        [description]="subsection.description"
        [route]="subsection.route"
        [currentLanguage]="currentLanguage"
      ></lf-subsection>
    </div>
  </div>
</lf-section-layout>
