@import '~@angular/material/theming';

@mixin lf-navbar-theme($theme) {
  $background: map-get($theme, background);
  $dialog: mat-color($background, dialog);

  .lf-navbar-lt-md, .lf-navbar-gt-sm, .lf-navbar-minimal-lt-md {
    background-color: $dialog;
  }
}
