.lf-not-yet-implemented {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;

  h3 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
  }

  span {
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
  }
}
