§
<div class="lf-page-change-animation" [@visibility]="visible">
  <button mat-raised-button (click)="visible = (visible == 'visible') ? 'invisible' : 'visible'">toggle</button>
  <div class="lf-circle" id="lf-circle-0" ></div>
  <div class="lf-circle" id="lf-circle-1"></div>
  <div class="lf-circle" id="lf-circle-2"></div>
  <div class="lf-circle" id="lf-circle-3"></div>
  <div class="lf-circle" id="lf-circle-4"></div>
  <div class="lf-circle" id="lf-circle-5"></div>
  <div class="lf-circle" id="lf-circle-6"></div>
  <div class="lf-circle" id="lf-circle-7"></div>
  <div class="lf-circle" id="lf-circle-8"></div>
  <div class="lf-circle" id="lf-circle-9"></div>
</div>
