<div
  class="lf-about-me-subsection"
  fxLayout.lt-md="column"
  fxLayout.gt-sm="row"
  fxLayoutAlign.lt-md="center start"
  fxLayoutAlign.gt-sm="center start"
  fxFlex="1 1 auto">
  <div class="lf-subsection-title" (click)="navigate(route)" ngClass.gt-sm="lf-subsection-title-gt-sm" fxLayout="row" fxFlexOrder.lt-md="1" fxFlexOrder.gt-sm="2">
    <span>{{title}}</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div class="lf-subsection-description" ngClass.gt-sm="lf-subsection-description-gt-sm" fxFlexOrder.lt-md="2" fxFlexOrder.gt-sm="1">
    <span>{{description}}</span>
  </div>
</div>
