@import '../../../../variables';

.lf-quick-nav {
  font-size: 12px;
}

.lf-stroke {
  position: relative;

  .lf-ball {
    position: absolute;
    top:50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    right: -6px;
  }
}

.lf-stroke-lt-md {
  height: 2px;
  width: 35px;
}

.lf-stroke-gt-sm {
  width: 2px;
  height: 35px;
}

.lf-item {
  padding: 16px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: bold;
  cursor: pointer;

  small {
    font-weight: lighter;
  }

  &.active {
    transform: scale(1.2);
  }
}
