@import '../../../../variables';

.lf-quick-nav {
  font-size: 12px;
}

.lf-stroke {
  background-color: white;
  position: relative;

  .lf-ball {
    position: absolute;
    top:50%;
    background-color: #962f2d;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    right: -6px;
  }
}

.lf-stroke-lt-md {
  height: 2px;
  width: $lf-quick-nav-stroke-length-desktop;
}

.lf-stroke-gt-sm {
  width: 2px;
  height: $lf-quick-nav-stroke-length-desktop;
}

.lf-item {
  padding: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;

   &.active {
     color: #962f2d;
   }
}
