

<div fxLayout.lt-xs="row" fxLayout.gt-sm="column" class="lf-quick-nav" *ngIf="quickNavTitles">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="lf-item"
    [ngClass]="{'active': sectionScreenCoverage.entrySection > 50}"
    (click)="goToSection('entry')">
    <small>{{quickNavTitles.entry}}</small>
    <span>00</span>
  </div>
  <div fxLayoutAlign="center center">
    <div class="lf-stroke" ngClass.lt-md="lf-stroke-lt-md" ngClass.gt-sm="lf-stroke-gt-sm">
      <div
        class="lf-ball"
        *ngIf="sectionScrollOffsetPercentage.aboutMeSection > 0 && sectionScrollOffsetPercentage.aboutMeSection <= 100"
        [style.top]="sectionScrollOffsetPercentage.aboutMeSection + '%'">

      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="lf-item"
       [ngClass]="{'active': sectionScreenCoverage.aboutMeSection > 50}"
       (click)="goToSection('about-me')">
    <small>{{quickNavTitles.aboutme}}</small>
    <span>01</span>
  </div>
  <div fxLayoutAlign="center center">
    <div class="lf-stroke" ngClass.lt-md="lf-stroke-lt-md" ngClass.gt-sm="lf-stroke-gt-sm">
      <div
        class="lf-ball"
        *ngIf="sectionScrollOffsetPercentage.projectSection > 0 && sectionScrollOffsetPercentage.projectSection <= 100"
        [style.top]="sectionScrollOffsetPercentage.projectSection + '%'">

      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="lf-item"
       [ngClass]="{'active': sectionScreenCoverage.projectSection > 50}"
       (click)="goToSection('projects')">
    <small>{{quickNavTitles.projects}}</small>
    <span>02</span>
  </div>
  <div fxLayoutAlign="center center">
    <div class="lf-stroke" ngClass.lt-md="lf-stroke-lt-md" ngClass.gt-sm="lf-stroke-gt-sm">
      <div
        class="lf-ball"
        *ngIf="sectionScrollOffsetPercentage.contactSection > 0 && sectionScrollOffsetPercentage.contactSection <= 100"
        [style.top]="sectionScrollOffsetPercentage.contactSection + '%'">

      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="lf-item"
       [ngClass]="{'active': sectionScreenCoverage.contactSection > 50}"
       (click)="goToSection('contact')">
    <small>{{quickNavTitles.contact}}</small>
    <span>03</span>
  </div>
</div>
