<div fxLayout.lt-xs="row" fxLayout.gt-sm="column" class="lf-quick-nav">
  <div fxLayoutAlign="center center" class="lf-item">00</div>
  <div fxLayoutAlign="center center">
    <div class="lf-stroke" ngClass.lt-md="lf-stroke-lt-md" ngClass.gt-sm="lf-stroke-gt-sm"></div>
  </div>
  <div fxLayoutAlign="center center" class="lf-item">01</div>
  <div fxLayoutAlign="center center">
    <div class="lf-stroke" ngClass.lt-md="lf-stroke-lt-md" ngClass.gt-sm="lf-stroke-gt-sm"></div>
  </div>
  <div fxLayoutAlign="center center" class="lf-item">02</div>
  <div fxLayoutAlign="center center">
    <div class="lf-stroke" ngClass.lt-md="lf-stroke-lt-md" ngClass.gt-sm="lf-stroke-gt-sm"></div>
  </div>
  <div fxLayoutAlign="center center" class="lf-item">03</div>
</div>
