<div
  fxLayout="row"
  class="lf-section-layout">
  <div
    fxFlex="2 1 auto"
    fxLayout="column"
    class="lf-section-content-container">

    <div
      class="lf-section-header-space"
      fxHide="true"
      fxShow.gt-sm="true"></div>

    <div
      class="lf-section-header-overlay"
      fxHide="true"
      fxShow.gt-sm="true">

    </div>
    <!--set background image class on s and xs media query-->
    <div
      fxFlex="1 1 auto"
      class="lf-section-content"
      ngClass.lt-md="lf-section-images-background">

      <div
        class="lf-section-content-overlay"
        ngClass.lt-md="lf-section-content-overlay-lt-md">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  <!--hide on s and xs-->
  <div
    fxFlex="1 1 auto"
    class="lf-section-images"
    ngClass.gt-sm="lf-section-images-background"
    fxHide="true"
    fxShow.gt-sm="true">
    <div class="lf-section-images-overlay"></div>
  </div>
</div>
