<div
  fxLayout="row"
  class="lf-section-layout">
  <div
    fxFlex="2 1 auto"
    fxLayout="column"
    class="lf-section-content-container">

    <div
      class="lf-section-header-space"
      fxHide="true"
      fxShow.gt-sm="true"></div>

    <div
      class="lf-section-header-overlay"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxHide="true"
      fxShow.gt-sm="true">

      <div>
        <lf-stepper
        [isFirstElement]="isFirstSection"
        [isLastElement]="isLastSection">

        </lf-stepper>
      </div>

      <div
        class="lf-section-header-overlay-content"
        fxLayout="row"
        fxLayoutAlign="center start">
        <div>
          <h2>{{subtitle}}</h2>
          <h1>{{title}}</h1>
        </div>
      </div>

    </div>

    <div
      fxFlex="1 1 auto"
      class="lf-section-content"
      [ngClass.lt-md]="{'lf-section-images-background': showBackground}">
      <div
        class="lf-section-content-overlay"
        ngClass.lt-md="lf-section-content-overlay-lt-md">
        <div class="lf-section-content-overlay-title" fxHide="true" fxShow.lt-md="true">
          <h2>{{subtitle}}</h2>
          <h1>{{title}}</h1>
        </div>
        <ng-content></ng-content>
      </div>
    </div>
  </div>

  <div
    fxFlex="1 1 auto"
    class="lf-section-images"
    [ngClass.gt-sm]="{'lf-section-images-background': showBackground}"
    fxHide="true"
    fxShow.gt-sm="true">
    <div class="lf-section-images-overlay"></div>
  </div>
</div>
