@import '../../../../variables';

.lf-section-layout {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.lf-section-header-space {
  width: 100%;
  height: 150px;
}


.lf-stepper-container {
  width: 40px;

  button mat-icon {

    font-size: 40px;
    width: auto;
    height: auto;
  }

  button[disabled] mat-icon {

  }

  .lf-stepper-divider {
    width: 20px;
    height: 1px;
  }

}

.lf-section-content-container {
  .lf-section-content {
    position: relative;

    .lf-section-content-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 16px;

      .lf-section-content-overlay-counter {
        position: absolute;
        color: rgba(0,0,0,0.03);
        font-size: 50vh;
      }

      &.lf-section-content-overlay-lt-md {
        padding-top: ($lf-navbar-thickness-mobile + 16px);
      }

      .lf-section-content-overlay-title {
        margin-bottom: 32px;

        h1 {
          font-weight: lighter;
          font-size: 30px;
          margin-top: 0px;
        }

        h2 {
          font-weight: normal;
          font-size: 20px;
          margin-bottom: 0px;
        }
      }
    }
  }
}

.lf-section-header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  padding: 16px;

  .lf-section-header-overlay-content {

  }

  h1 {
    /*text-transform: uppercase;*/
    font-size: 35px;
    /*letter-spacing: 6px;*/
    font-weight: lighter;
    margin-top: 4px;
  }

  h2 {
    font-size: 25px;
    /*letter-spacing: 6px;*/
    font-weight: lighter;
    margin-bottom: 4px;
  }
}

.lf-section-images {
  position: relative;

  .lf-section-images-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.3);
  }
}

.lf-section-images-background {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
