.lf-contact-full-width {
  *{
    position: relative;
  }
  width: 100%;
}

.lf-contact-info {
  width: 100%;
  height: 75px;
  padding: 16px;
  font-weight: bolder;
  position: relative;

  a {
    margin-left: 8px;
  }
}
