<lf-section-layout
  (goToNextSection)="emitGoToNextSection()"
  (goToPreviousSection)="emitGoToPreviousSection()"
  [isFirstSection]="isFirstSection"
  [isLastSection]="isLastSection"
  [title]="title"
  [subtitle]="subtitle"
  [background]="background"
  [placeInOrder]="placeInOrder">

  <div class="lf-contact-info" fxLayoutAlign="start center">
    <div>
      <span>{{warning}}</span>
      <a href="mailto: {{email}}">{{email}}</a>
    </div>
  </div>

  <mat-form-field class="lf-contact-full-width">
    <input matInput [placeholder]="namePlaceholder" disabled>
  </mat-form-field>

  <mat-form-field class="lf-contact-full-width">
    <input matInput [placeholder]="emailPlaceholder" disabled>
  </mat-form-field>

  <mat-form-field class="lf-contact-full-width">
    <input matInput [placeholder]="subjectPlaceholder" disabled>
  </mat-form-field>

  <mat-form-field class="lf-contact-full-width">
    <textarea matInput [placeholder]="messagePlaceholder" disabled></textarea>
  </mat-form-field>

  <div class="lf-contact-full-width" fxLayoutAlign="end start">
    <button mat-raised-button color="primary" disabled>{{submitButtonText}}</button>
  </div>

</lf-section-layout>
