lf-close {
  display: block;
}
.lf-navigation {
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 1000;

  .lf-navigation-strawler-gt-sm {
    height: 100vh;
    overflow-y: scroll;
  }

  .lf-navigation-container-gt-sm { min-height: calc(100vh - 174px); }

  .lf-navigation-container {
    max-height: none!important;

    .lf-navigation-first-level-lt-md, .lf-navigation-second-level-lt-md {
      min-width: 100%;
      .lf-navigation-header-container{
        .lf-navigation-header-title {
          span {
            font-size: 30px!important;
          }
        }
      }
    }



    .lf-navigation-element-container-lt-md {
      max-height: calc(100vh - 140px);
      min-height: calc(100vh - 140px);
      overflow-y: scroll;
    }

    .lf-navigation-second-level-gt-sm {
      margin-left: 16px;
    }

  }


  .lf-navigation-header-container-lt-md {
    padding-bottom: 16px!important;
  }

  .lf-navigation-header-container {
    padding: 16px;
    padding-bottom: 50px;
    box-sizing: unset!important;
    overflow: hidden;
    max-height: 58px;

    .lf-navigation-header-title span {
      font-size: 50px;
      font-weight: lighter;
      margin-right: 32px;
    }

    .lf-navigation-header-dismiss mat-icon, .lf-navigation-header-back mat-icon{
      font-size: 50px;
      font-weight: lighter;
      height: auto;
      width: auto;
    }

    .lf-navigation-header-back {
      margin-right: 16px;
    }
  }

  .lf-navigation-element-divider {
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .lf-navigation-footer {
    padding-left: 16px;
    height: 50px;
    width: 100%;
  }
}
