lf-close {
  display: block;
}
.lf-navigation {
  position: fixed;
  min-height: 100vh;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0px;
  right: 0px;
  z-index: 1000;

  .lf-navigation-container {

    .lf-navigation-first-level-lt-md, .lf-navigation-second-level-lt-md {
      min-width: 100%;
    }

    .lf-navigation-element-divider {
      width: 100%;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    .lf-navigation-second-level-gt-sm {
      margin-left: 16px;
    }

  }

  .lf-navigation-header-container {
    margin: 16px;
    margin-bottom: 50px;
    overflow: hidden;

    .lf-navigation-header-title span {
      font-size: 50px;
      font-weight: lighter;
      margin-right: 32px;
    }

    .lf-navigation-header-dismiss mat-icon, .lf-navigation-header-back mat-icon{
      font-size: 50px;
      font-weight: lighter;
      height: auto;
      width: auto;
    }

    .lf-navigation-header-back {
      margin-right: 16px;
    }
  }
}
