@import '~@angular/material/theming';
@import './app/_app-theme.scss';
@import './theme';


@include mat-core();
@include angular-material-theme($app-theme);
@include lf-app-theme($app-theme);

$background: map-get($app-theme, background);
$dialog: mat-color($background, dialog);

body {
  margin: 0px;
  background-color: $dialog;
}
