$lf-navbar-thickness-desktop: 70px;
$lf-navbar-thickness-mobile: 70px;

$lf-quick-nav-stroke-length-desktop: 35px;

$primary: #962f2d;
$primary-text-color: #939393;
$secondary-text-color: #e3e3e3;
$background: white;
