@import '~@angular/material/theming';

@mixin lf-choose-language-theme($theme) {
  $foreground: map-get($theme, foreground);
  $text: mat-color($foreground, text);


  .lf-choose-language-title {
    color: $text;
  }


}
