<lf-loading-overlay *ngIf="isSomethingLoading$ | async"></lf-loading-overlay>

<!--pass mode: minimal (minimal version on desktop)-->
<lf-navbar [mode]="navbarType$ | async" [showQuickNav]="showQuickNav$ | async">


  <lf-navbar-logo>
    <lf-logo [currentLanguage]="currentLanguageState$ | async"></lf-logo>
  </lf-navbar-logo>

  <!--Background only visible on front-page-->
  <lf-navbar-burger>
    <lf-burger
      [backgroundColor]="navigationBarContentColor"
      (onBurgerClick)="toggleNavVisibility($event)"
    ></lf-burger>
  </lf-navbar-burger>

  <!--Show only on front-page-->
  <lf-navbar-quick-nav>
    <lf-quick-nav
      [sectionScreenCoverage]="scrollService.sectionScreenCoverage$ | async"
      [sectionScrollOffsetPercentage]="scrollService.sectionScrollOffsetPercentage$ | async"
      [quickNavTitles]="quickNavTitlesState$ | async"
      (currentSectionChange)="goToSection($event)"
      fxHide="false"
      fxHide.lt-md="true"></lf-quick-nav>
  </lf-navbar-quick-nav>
</lf-navbar>

<lf-navigation
  [visible]="navigationVisibleState$ | async"
  [title]="navigationTitleState$ | async"
  [navigationItems]="navigationItemsState$ | async"
  [isMobileMediaQuery]="isMobileMediaQueryState$ | async"
  [activeNavigationItem]="activeNavigationItemState$ | async"
  [currentLanguage]="currentLanguageState$ | async"
  [transformOrigin]="navigationTransformOriginState$ | async"
  (activeNavigationItemChanged)="activeNavigationItemChanged($event)"
  (navigationClosed)="closeNavigation()"
  (routeChanged)="routeChange($event)"
>
  <lf-navigation-footer>
    <a mat-button (click)="navigateToChooseLanguage()">
      Change language
      <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
  </lf-navigation-footer>
</lf-navigation>


<router-outlet></router-outlet>

