<div
  fxLayout.gt-sm="column"
  fxLayoutAlign.gt-sm="start center"

  fxLayout.lt-md="row"
  fxLayoutAlign.lt-md="center center"

  ngClass.gt-sm="lf-navbar-gt-sm"
  ngClass.lt-md="lf-navbar-lt-md"

  class="lf-navbar"
  #navbar>

  <div class="lf-logo-lt-md" fxHide="true" fxShow.lt-md="true">
    <lf-logo [color]="navbarContentColor"></lf-logo>
  </div>

  <div fxHide="true" fxShow.lt-md="true" class="lf-fill"></div>

  <lf-burger [backgroundColor]="navbarContentColor" (onBurgerClick)="toggleNavVisibility()"></lf-burger>

  <div class="lf-navbar-spacing" fxHide="true" fxShow.gt-sm="true"></div>

  <lf-quick-nav fxHide="false" fxHide.lt-md="true"></lf-quick-nav>
</div>

<div hidden="true">
  <div class="lf-bottom-navbar" fxLayoutAlign="center center" fxHide="true" fxShow.lt-md="true">
    <lf-quick-nav fxHide="true" fxShow.lt-md="true"></lf-quick-nav>
  </div>
</div>

<lf-navigation
  [visible]="navVisibilityState$ | async"
  [navigationItems]="navigationItemsState$ | async"
  [isMobileMediaQuery]="isMobileMediaQueryState$ | async"
  [activeNavigationItem]="activeNavigationItemState$ | async"
  (activeNavigationItemChanged)="activeNavigationItemChanged($event)"
></lf-navigation>

<!--
This was made like this, because the navigation should be scrollable.
otherwise it would scroll further down (bigger as the actual navigation) and the
rest of the site would be shown up
-->
<div [hidden]="navVisibilityState$ | async">
  <router-outlet></router-outlet>
</div>

